<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- first view for storage configurations-->
		<add key="MailFile_View1" value="false"/>
		<add key="ToMailAddresses_View1" value= "muneeb110@live.com"/>
		<add key="Subject_View1" value="TestEmail"/>
		<add key="Body_View1" value="This is a test message."/>
		<add key="storagePathExport_View1" value="E:/Test/Export/View1"/>
		<add key="name_View1" value="[SPRING].[dbo].[Spring_export2venue]"/>
		<add key="query_View1" value="Select * from [SPRING].[dbo].[Spring_export2venue]"/>
		<add key="Export_View1" value="false"/>
		<add key="IncludeHeader_View1" value="false"/>
		<add key="IntervalInMinutes_View1" value="1"/>
		<add key="Separator_View1" value=","/>
		<add key="FilePrefix_View1" value="Export2CSVSpring1"/>
		<add key="FinishStatus_View1" value="SND"/>
		<!--end-->
		<!-- Second view for storage configurations-->
		<add key="MailFile_View2" value="false"/>
		<add key="ToMailAddresses_View2" value= "muneeb110@live.com"/>
		<add key="Subject_View2" value="TestEmail"/>
		<add key="Body_View2" value="This is a test message."/>
		<add key="storagePathExport_View2" value="E:/Test/Export/View2"/>
		<add key="name_View2" value="[SPRING].[dbo].[Spring_export2aeb]"/>
		<add key="query_View2" value="Select * from [SPRING].[dbo].[Spring_export2aeb]"/>
		<add key="Export_View2" value="false"/>
		<add key="IncludeHeader_View2" value="false"/>
		<add key="IntervalInMinutes_View2" value="1"/>
		<add key="Separator_View2" value=","/>
		<add key="FilePrefix_View2" value="Export2CSVSpring2"/>
		<add key="FinishStatus_View2" value="SND"/>
		<!--end-->
		<!-- Third view for storage configurations-->
		<add key="MailFile_View3" value="false"/>
		<add key="ToMailAddresses_View3" value= "muneeb110@live.com"/>
		<add key="Subject_View3" value="TestEmail"/>
		<add key="Body_View3" value="This is a test message."/>
		<add key="storagePathExport_View3" value="E:/Test/Export/View3"/>
		<add key="name_View3" value="[SPRING].[dbo].[vw_export2aeb_addBrokerInstructionEvents]"/>
		<add key="query_View3" value="Select * from [SPRING].[dbo].[vw_export2aeb_addBrokerInstructionEvents]"/>
		<add key="IncludeHeader_View3" value="false"/>
		<add key="Export_View3" value="false"/>
		<add key="IntervalInMinutes_View3" value="1"/>
		<add key="Separator_View3" value=","/>
		<add key="FilePrefix_View3" value="Export2CSVSpring3"/>
		<add key="FinishStatus_View3" value="SND"/>
		<!--end-->



		<!-- mail Configuration -->
		<add key="SMTPServer" value="smtp.strato.com"/>
		<add key="SMTPServerPort" value="587"/>
		<add key="FromMailAddress" value= "aebcustomsapi@translima.eu"/>
		<add key="FromMailAddressPassword" value= "Desho_110!"/>
		<!-- end -->



		<!-- First Import Configuration -->
		<add key="Do_Import1" value="false"/>
		<add key="HeadersIncluded_Import1" value="true"/>
		<add key="FilePath_Import1" value="E:/Test/Import/ImportPath1"/>
		<add key="Interval_Import1" value="1"/>
		<add key="BackupPath_Import1" value="E:/Test/Import/Backup_ImportPath1"/>
		<add key="SQLStatement_Import1" value="INSERT into importcsv_venue_temp (DCRIdentifier,consignee,description,parcel,externalReference,trackingNumber,responseStatus) values (DCR Identifier,Consignee,Description,Parcel,External reference,Tracking number,Status)"/>	
		<!-- end -->
		
		<!-- Second Import Configuration -->
		<add key="Do_Import2" value="true"/>
		<add key="HeadersIncluded_Import2" value="false"/>
		<add key="FilePath_Import2" value="E:/Test/Import/ImportPath2"/>
		<add key="Interval_Import2" value="1"/>
		<add key="BackupPath_Import2" value="E:/Test/Import/Backup_ImportPath2"/>
		<add key="SQLStatement_Import2" value="INSERT into importcsv_peachid_temp (LocalReference,DUCRnumber,PEACHid)"/>	
		<!-- end -->


		<!-- Third Import Configuration -->
		<add key="Do_Import3" value="false"/>
		<add key="HeadersIncluded_Import3" value="true"/>
		<add key="FilePath_Import3" value="E:/Test/Import/ImportPath3"/>
		<add key="Interval_Import3" value="1"/>
		<add key="BackupPath_Import3" value="false"/>
		<add key="BackupPath_Import3" value="E:/Test/Import/Backup_ImportPath3"/>
		<add key="SQLStatement_Import3" value="INSERT into importcsv_venue_temp (consignee,description,parcel,externalReference,trackingNumber,responseStatus) values (Consignee,Description,Parcel,External reference,Tracking number,Status)"/>	
		<!-- end -->

		<add key ="logPath" value="E:\test\logs" />
		<add key ="dbConnectionString" value="Data Source=10.105.9.82;Initial Catalog=Translima;User ID=sa;Password=Password11;" />
		<add key="csv_size" value="4"/>
		<add key="password" value="muneeb"/>
	</appSettings>
</configuration>